{"is_source_file": true, "file_id": 10, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "filename": "/home/kavia/workspace/code-generation/stockinsight-102460-9cae797c/stockinsight/requirements.txt", "hash": "5bddfc81c81a62715ce15265cea7b56a", "format-version": 4, "code-base-name": "default", "knowledge_revision": 10}